<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text></svg>">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css" integrity="sha512-xh6O/CkQoPOWDdYTDqeRdPCVd1SpvCA9XXcUnZS2FmJNp1coAFzvtCN9BmamE+4aHK8yyUHUSCcJHgXloTyT2A==" crossorigin="anonymous" referrerpolicy="no-referrer" />
        <link rel="stylesheet" href="css/style.css">
        
    </head>
    <body>
        <header>
            <div  class="contain-header">
                <div class="burger">
                    <i onclick="BurgerActive()" class="fa-solid fa-bars"></i>
                </div>
                <div onclick="BurgerClose()" class="contain-title">
                    <h1>Mon épicerie</h1>
                </div>
                <div class="contain-button">
                    <a href="#">
                        <button class="btn white">Connexion</button>
                    </a>
                    <a href="#">
                        <button id="header" class="btn grey">Inscription</button>
                    </a>
                </div>
            </div>
            <div id="navburger" class="contain-burger">
                <div class="close">
                    <i onclick="BurgerActive()" class="fa-solid fa-xmark"></i>
                </div>
                <div class="contain-button">
                    <div>
                        <a href="#">
                            Inscription
                        </a>
                    </div>
                    <div>
                        <a href="#">
                            Connexion
                        </a>
                    </div>
                </div>
                <div class="contain-nav">
                    <ul>
                        <li>
                            <a href="#">
                                Créez un compte professionnel
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                Ajoutez votre épicerie
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                Devenez coursier-partenaire
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </header>
        <main>
            {% block body %}{% endblock %}
        </main>
    </body>
    <script src="js/app.js"></script>
</html>